hr{
    margin-top: 0
}

.navbar{
    margin-bottom: 0;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: orange !important;
}

.custom-link {
    color: rgb(0, 0, 0);
    
    margin-right: 15px; /* Adjust spacing as needed */
  }
  
  .custom-link:hover {
    color: orange;
  }