.main-container{
    display:flex;
    justify-content: center;
}

legend{
    text-align: center;
}

#next-btn{
    color: #000000;
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 50px;
    bottom: 5px;
    border-radius: 9px;
    border: 2px solid;
}